@font-face {
  font-family: "iconfont"; /* Project id 2910502 */
  src: url('//at.alicdn.com/t/font_2910502_x7n4alkn9o.woff2?t=1640416313337') format('woff2'),
       url('//at.alicdn.com/t/font_2910502_x7n4alkn9o.woff?t=1640416313337') format('woff'),
       url('//at.alicdn.com/t/font_2910502_x7n4alkn9o.ttf?t=1640416313337') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bg-application:before {
  content: "\e64b";
}

.icon-iconfontpaixingbang:before {
  content: "\e639";
}

.icon-quanxianguanli:before {
  content: "\e609";
}

.icon-shangpin:before {
  content: "\e613";
}

.icon-dingdan:before {
  content: "\e60e";
}

.icon-yonghu:before {
  content: "\e68a";
}

.icon-tianchongxing-:before {
  content: "\e638";
}

.icon-wode:before {
  content: "\e60b";
}

